# -------------------------
# Flutter / Dart / Pub
# -------------------------
.dart_tool/
.packages
.pub/
.build/
build/
coverage/
flutter_*.png
flutter_export_environment.sh
generated_plugin_registrant.dart

# -------------------------
# Android
# -------------------------
android/.gradle/
android/local.properties
android/app/build/
android/app/intermediates/
android/app/generated/
android/app/.cxx/
android/app/profile/
android/app/release/
android/app/debug/
android/app/merged_native_libs/
android/app/merged_assets/
android/app/tmp/

# Don't track keystore files
*.keystore
*.jks

# -------------------------
# iOS
# -------------------------
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
ios/build/

# -------------------------
# Linux / Windows / macOS
# -------------------------
linux/flutter/
macos/Flutter/
windows/flutter/

# -------------------------
# Web
# -------------------------
web/.dart_tool/
web/.flutter-plugins
web/.flutter-plugins-dependencies

# -------------------------
# Binaries
# -------------------------
*.so
*.aac
*.apk
*.aab
*.ipa
*.jar
*.dll
*.obj
*.o
*.pyc
*.class
*.log
*.map.json
app.*.symbols
app.*.map.json

# -------------------------
# IDE/STUDIO
# -------------------------
.idea/
*.iml
*.ipr
*.iws
.atom/
.history
.svn/
.swiftpm/

# VS Code (optional – comment if needed)
.vscode/

# -------------------------
# Misc
# -------------------------
.DS_Store
.migrate_working_dir/
